.TopBg {
				position: relative;
				background:url(../img/feed/bj1.jpg) no-repeat 0 0;
				/*background-attachment:scroll;*/
				background-size: cover;
				width: 100%;
				height: 300px;
			}
			
			.TopBg_text {
				position: absolute;
				line-height: 30px;
				bottom: 10px;
				padding: 0 10px;
				color: rgba(239, 239, 239, 0.8);
				font-size: 16px;
				letter-spacing: 2px;
			}
			
			.TopBg_text a {
				font-size: 28px;
			}
			/*论坛模块*/
			
			.fa {
				cursor: pointer;
			}
			
			.blog_box {
				padding: 10px 20px;
			}
			
			.blog {
				padding: 10px;
				clear: both;
				border-bottom: 1px solid #BABABA;
			}
			
			.blog div {
				line-height: 30px;
			}
			
			.like_num,
			.is_like,
			.comment_num {
				margin-top: 10px;
				font-size: 14px;
			}
			
			.user_header_img {
				width: 50px;
				height: 50px;
			}
			
			.user_header_img img {
				border: 2px solid #BABABA;
				border-radius: 50%;
				width: 100%;
			}
			
			.blog_title {
				width: 100%;
				line-height: 2em;
				font-size: 13px;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				white-space: nowrap\9;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			
			.userMsg div,
			.userMsg3 div {
				display: inline-block;
			}
			
			.blog_create_time {
				width: 85%;
			}
			
			.like_num {
				width: 6%;
			}
			
			.comment_num {
				width: 6%;
			}
			
			.user_name {
				font-size: 16px;
				color: #337AB7;
				font-weight: bold;
			}
			
			@media only screen and (max-width:414px) {
				.TopBg {
					height: 200px;
				}
				.TopBg_text a {
					font-size: 20px;
				}
				.TopBg_text {
					font-size: 14px;
					line-height: 25px;
					letter-spacing: 1px;
				}
				.blog_create_time {
					width: 100%;
				}
				.like_num {
					width: 48%;
				}
				.comment_num {
					width: 48%;
				}
			}