          .TopBg {
			   background:url(../img/feed/bj1.jpg) no-repeat 0 0;
				/*background-attachment:scroll;*/
				background-size: cover;
				width: 100%;
				height:10em;
			}
			  .TopBg>div{
			  	font:bold 20px "微软雅黑";
			  	padding:20px 0 10px 10px;
			  	color: #fff;

			  }
			.TopBg_text {
			    line-height:30px;
				padding:0 10px;
				color: rgba(239, 239, 239, 0.8);
				font-size:14px;
				letter-spacing:2px;
			}
			
			
			/*论坛模块*/
			#content{
				clear: both;
			}
			.fa {
				cursor: pointer;
			}
			
			.blog_box {
				padding:2px 25px;
			}
			.blog {
				padding:2px;
				clear: both;
				border-bottom: 1px solid #BABABA;
			}
			
			.blog div {
				line-height:24px;
			}
			
			.like_num,
			.is_like,
			.comment_num {
				margin-top: 10px;
				font-size: 13px;
			}
			
			.user_header_img {
				width:30px;
				height:30px;
			}
			
			.user_header_img img {
				border: 2px solid #BABABA;
				border-radius:50%;
				width: 100%;
			}

			.blog_img img{
		        margin-top:10px;
				width:50px;
			     height:50px;
			}
			.blog_title {
				font-weight: bold;
				font-size: 12px;
				cursor: pointer;
			
				
			  }
		.blog_cont{
			text-indent:0.5em;
				width:100%;
			    display: -webkit-box;
			    white-space: nowrap\9;
				overflow: hidden;
				text-overflow: ellipsis;
		     	font-size:12px;
		}
			.userMsg div,
			.userMsg3 div{
			
				display: inline-block;
				vertical-align: bottom;
			}
			.blog div:not(.blog_create_time){
				cursor: pointer;
			}
			.blog_img{
			  line-height:80px; 
			  width:10%;
			}
			.blog_create_time {	
			  width:80%;
			   line-height:80px; 
			}			
			.like_num {
				 line-height:80px; 
				width:4%;
				vertical-align: bottom;
			}		
			.comment_num {
				vertical-align: bottom;
				 line-height:80px; 
			  width:4%;
			}
			
			.user_name {
				font-size:13px;
				color: #337AB7;
				font-weight: bold;
			}
			.bbs_type{
				padding:0 10px;
				display:flex;
				font-size: 13px;
			}
			.bbs_type li{
				border: 1px solid red
				text-overflow: ellipsis;
				line-height:30px;
				text-align: center;
				width:9vw;
				flex-wrap:wrap;
				
 			}
      .blog_menu{
	          position: fixed;
	          left:80%;
	          bottom:100px;

         }
			.blog_menu div{
				cursor: pointer;
				width: 100px;
				height:100px;
				background: url(../img/blog/pub_blog.png) no-repeat 0 0;
				background-size: 100%;
				
			}
			.pub_new{
				padding:0 5%;
				clear: both;
				border: 1px solid red;
			}

			@media only screen and (max-width:414px) {
				.TopBg {
					height:160px;
				}
				.TopBg_text a {
					font-size: 20px;
				}
				.TopBg_text {
					font-size: 14px;
					line-height: 25px;
					letter-spacing: 1px;
				}
				.blog_create_time {
					width: 100%;
				}
				.like_num {
					width: 48%;
				}
				.comment_num {
					width: 48%;
				}
			}
			ol li{
			
			}
