.container{
	overflow-y: scroll;
	border-bottom: none;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
/*专家库*/

.LzBox .fa{
	width:80px;
	height:70px;
	
}
.form-group input{
	display: inline-block;
	width:400px;
}
/*.LzBox{
	display: flex;
}
.LzBox li{
	text-align: center;
	width: 25%;
}*/
.LzBox{
	display: flex;
	flex-wrap:wrap;
}
.LzBox li{
	background-color:#92B8B1;
    border:2px solid #EEEEEE;
	width:170px;
	text-align:center;
	
}


.LzBox li:hover{
  background:url(../img/btnBj.jpg);
}
.LzBox li dd{
	width:70%;
	margin:0 auto;
	height:8em;
}
.LzBox li dt{
	line-height:30px;
	color: #F1F1F1;
}
#proBox dd{
	background:url(../img/Service/proBox.png) no-repeat 0 0;
	background-size: 100% 100%;
	
	
}
#FxproBox dd{
	background:url(../img/Service/FxproBox.png) no-repeat 0 0;
	background-size: 100% 100%;
	
	
}
#FlBox dd{
	background:url(../img/Service/FLBox.png) no-repeat 0 0;
	background-size: 100% 100%;
	
	
}
#YdplaceBox dd{
	background:url(../img/Service/YdplaceBox.png) no-repeat 0 0;
	background-size: 100% 100%;
	
}
#SsBox dd{
	background:url(../img/Service/YdplaceBox.png) no-repeat 0 0;
	background-size:100% 100%;
	
}

.caseSend{
	cursor: pointer;
	position:fixed;
	width: 100px;
	height: 100px;
	right:10%;
	bottom:100px;
	
}

@keyframes bling{
	from{
		color:#000000;
	}
	to{
		color:#EFEFEF;
	}
}

.caseSend div:nth-child(2){
	font-weight: bold;
	text-align: center;
	font-size:15px;
	line-height:24px;
    animation:bling 1s  infinite;
}
.caseSend div:nth-child(1){
	background-color: #269ABC;
	height:100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	font-size:4em;
	color:#FFFFFF;
	border-radius: 50%;
	
}
.caseSelect{ 
	width:96%;
/*	/*
	margin:10px auto;*/
}
