.container{
	border-bottom: none;
}
/*专家库*/
.professor_imgKu{
	display: flex;
	width:200%;
	height:6em;

}
.professor{
	width:100%;
	overflow: hidden;
	/*position:relative;*/
}
.professor_imgKu span{
	width:110px;
	height: 5em;
	text-align:center;
	display:inline-block;
	
	
}
.pro_btn{
	position:absolute;
	top:60px;
	right:0;
	z-index:10;
	height:80px;
	display:inline-block;
	line-height:80px;
}

.professor_imgKu span img{
	height:6em;
	border-radius:50%;
	border:2px solid #BABABA;
}
.LzBox .fa{
	width:80px;
	height:70px;
	
}
.form-inline label{
	width:100px;
}
input[type=text]{
	display: inline-block;
	
	width:500px;
	margin:5px;
}
/*.LzBox{
	display: flex;
}
.LzBox li{
	text-align: center;
	width: 25%;
}*/
.LzBox{
	display: flex;
	flex-wrap:wrap;
}
.LzBox li{
	background-color:#92B8B1;
    border:2px solid #EEEEEE;
	width:170px;
	
	text-align:center;
	
}


.LzBox li:hover{
  background: url(../img/btnBj.jpg);
}
.LzBox li dd{
	width:70%;
	margin:0 auto;
	height:8em;
}
.LzBox li dt{
	line-height:30px;
	color: #F1F1F1;
}
#proBox dd{
	background:url(../img/Service/proBox.png) no-repeat 0 0;
	background-size: 100% 100%;
	
	
}
#FxproBox dd{
	background:url(../img/Service/FxproBox.png) no-repeat 0 0;
	background-size: 100% 100%;
	
	
}
#FlBox dd{
	background:url(../img/Service/FLBox.png) no-repeat 0 0;
	background-size: 100% 100%;
	
	
}
#YdplaceBox dd{
	background:url(../img/Service/YdplaceBox.png) no-repeat 0 0;
	background-size: 100% 100%;
	
}
#SsBox dd{
	background:url(../img/Service/YdplaceBox.png) no-repeat 0 0;
	background-size:100% 100%;
	
}
@media only screen and (max-width: 640px) {
 .professor{
	height:140px;
	position: relative;
}
}