/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
    position:relative;
	width:100%;
	height:100%;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	text-align: center;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left: 0px;
	width: 25px;
	height: 37px;
	background: url(../images/slider/arrows.png) top left no-repeat;
}
.nivo-nextNav {
	right:0px;
	width: 25px;
	height: 37px;
	background: url(../images/slider/arrows.png) top right no-repeat;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

#BigCont {
			   
				border-right: 1px solid #BABABA;
				border-left: 1px solid #BABABA;	
			}
			
			.nivo-directionNav a {
				display: block;
				width: 30px;
				height: 30px;
				background: url(img/sliderArrow.png) no-repeat;
				text-indent: -9999px;
				border: 0;
			}
			
			a.nivo-nextNav {
				background-position: -56px -3px;
				display: inline-block;
				height: 38px;
				width: 38px;
				border-radius: 50%;
				right: 15px;
			}
			
			a.nivo-prevNav {
				background-position: 0 -3px;
				display: inline-block;
				height: 38px;
				width: 38px;
				border-radius: 50%;
				left: 15px;
			}
			.logo{
				border-bottom: 1px solid #BABABA;
				padding-left:5%;
				height:80px;
			}
			.logo_img{
				position: absolute;
				left:5%;
				top:0;
				
			}
			header{
				padding: 0;
			}
			.partnerWrap{
				width: 100%;
				overflow: hidden;
				
			}
			.slideshow{
				
				width:200%;
				
			}
			.slideshow img{
				
				display:inline-block;
				width:280px;
				
			}
			footer{
				background-color: #337AB7;
			}