<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>计算工具</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="css/bootstrap.css" media="screen" />
		 <link rel="shortcut icon" href="img/home/logo-s.png">
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="js/vue.js" ></script>
		<script type="text/javascript" src="js/counter.js"></script>
		<script type="text/javascript" src="js/md5.js" ></script>
		<script type="text/javascript" src="js/layer.js" ></script>
			
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
   <![endif]-->
    <style>
    	.detailCopy tr td{
    		padding:0 10px;
    	}
    	tr{
    		height:50px;
    		line-height: 50px;
    		
    	}
    	.countBox {
    		padding-top: 20px;
    	   
    	}
    	.countBox div{
    		margin-bottom:20px;
    		padding:0 10px;
    		width:24.7%;
    		display: inline-block;
    		border-radius:5px;
    	    height:225px;
    		
    	}
    	
    	
    	.countBox div span{
    		width:100%;
    		background-color:rgba(51,122,183,0.8);
    		display: inline-block;
    		border:1px solid #BABABA;
    		color: #FFFFFF;
    		
    		border-radius:10px;
    		padding:2px 15px;
    		box-shadow:5px 5px 10px  #BABABA;
    	}
    		@media only screen and (max-width:600px ) {
    	 .countBox{
    		padding-top:20px;
    		
    	}
      
     	.countBox div{
    		margin:20px auto;
    	    border-radius:5px;
    		display: block;
    		width:90%;
    	}
    	}
    	/*@media only screen and (min-width:600px )  and (min-width:800px ){
    	.countBox{
    		padding-top:20px;
    		margin-bottom: 20px;
    	}
      
     	.countBox div{
    		padding:15px 10px;
    		margin:0 auto;
    	    border-radius:5px;
    		display: block;
    		width:90%;
    	}
    	}*/
    </style>
	</head>

	<body>
       				<span class="storeBox clearfix" style="display: inline-block;font-size:12px;line-height:14px; width:100%;padding:0 8em;text-align:end;color: #BABABA;">
					<a href="javascript:void(0)" onclick="SetHome(this,window.location.href);">设为首页</a>
					&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
					<a href="javascript:void(0)" onclick="AddFavorite('我的网站',location.href)">收藏本站</a></span>
		<div class="logo">
			<div>
				<span class="icon text-info" style="font:bold 30px '宋体';"><img src="img/home/logo.png" alt=""/></span>
				<span class="login pull-right">
							<a class="btn  btn-success btn-lg"  data-toggle="modal"   data-target="#myLogin" style="font-size: 1.1em;">登录</a>
							<a>&nbsp;</a>
							<a class="btn  btn-info btn-lg"  data-toggle="modal" data-target="#myRegs" style="font-size: 1.1em;">注册</a>
			   </span>
				<span class="login1 pull-right">
							<a class="btn  btn-success btn"  data-toggle="modal"   data-target="#myLogin" style="font-size: 1.1em;">登录</a>
							<a>&nbsp;</a>
							<a class="btn  btn-info btn"  data-toggle="modal" data-target="#myRegs" style="font-size:1.1em;">注册</a>
				</span>
				<span class="pull-right Ylogin hide">
				           <a id="YloginBtn" class="btn  btn-primary"  style="height:40px; line-height:20px;font-size:1.2em;font-weight: bold;">
								   <span class="fa fa-user-circle-o"></span>
				                   <b>User</b>已登录
				          </a>
				<a id="clearUser" class="btn  btn-primary" style="height:40px;font-size:1.2em;font-weight: bold;">
					<b>注销</b>
				</a>

				</span>


			</div>
			<!--
	作者：fql
	时间：2017-03-07
	描述：登录弹窗
-->
			<div class="modal fade" id="myLogin">
				<div class="modal-dialog modal-sm">
					<div class="modal-content" id="app">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
		 					<span>&times;</span>
		 				</button>
							<h4 class="modal-title" id="myModalLabel">登录界面</h4>
						</div>
						<form @submit.prevent="submit">
							<div class="modal-body">

								<div class="form-group">
									<label for="userID" class="control-label">请输入用户名：</label>
									<input type="text" class="form-control" id="userID" v-model="user.username" required/>
								</div>
								<div class="form-group">
									<label class="control-label">请输入密码：</label>
									<input type="password" class="form-control" id="userPwd" v-model="user.password" required/>
								</div>

							</div>
							<div class="modal-footer">
								<input id="LoginBtn" type="submit" class="btn btn-info" value="登录">
								<div class="btn-group">
									<button class="btn btn-default">
										<span class="fa fa-wechat info" style="color:#449D44;"></span>微信登录
									</button>
								</div>

								<a style="font-size:12px;" href="forgotPwd.html">忘记密码？</a>
							</div>
						</form>
					</div>
				</div>
			</div>

			<!--
            	作者：fql
            	时间：2017-03-07
            	描述：注册弹窗
            	  -->
			<div class="modal fade" id="myRegs">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
		 					<span>&times;</span>
		 				</button>
							<h4 class="modal-title" id="myModalLabel">注册界面</h4>
						</div>
						<form>
							<div class="modal-body">

								<div class="form-group">
									<label for="j_phone" class="control-label">手机号：</label>
									<input type="text"  class="form-control phone" id="j_phone" required/>
								</div>
								<div class="form-group">
									<label for="userPhone" class="control-label">验证码：</label>
									<div class="input-group">
										<input type="text"  class="form-control" placeholder="" />
										<span class="input-group-addon getYzCode" id="j_getVerifyCode" style="cursor: pointer;">获取验证码</span>
									</div>
								</div>
								<div class="form-group">
									<label for="userPWD" class="control-label">请输入您的密码：</label>
									<input type="password" class="form-control" id="userPWD" required/>
								</div>
								<div class="form-group">
									<label for="userPWD" class="control-label">请再次输入你的密码：</label>
									<input type="password" class="form-control" id="userPWD2" required/>
								</div>

								<div class="form-group">
									<label class="control-label">你的身份：</label>
									<select class="custom-select-sm form-control">
										<option>主任律师</option>
										<option>正式律师</option>
										<option>实习律师</option>
										<option>律所内勤</option>
										<option>法律工作者</option>
										<option>当事人</option>
									</select>
								</div>
								<div class="form-inline">
									<input type="checkbox" class="form-control" />
									<label class="control-label">已阅读并同意<a href="#">《协议与帮助》</a></label>

								</div>
							</div>
							<div class="modal-footer">
								<input type="submit" style="font-size: 14px;font-weight: normal;color: #FFFFFF;" class="btn  btn-info " data-dismiss="modal" value="注册">
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
		<!-- header -->
		<div class="container" style="">
			<div class="header-bottom">
				<div class="btn btn-info menuBtn pull-right" id="menuBtn">
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div class="top-menu">
					<ul class="header_nav">
						<li>
							<a class="home" href="home.html">首页</a>
						</li>
						<li>
							<a href="home.html#studyChat" id="studyChat1">法律咨询</a>
						</li>
						
						<li>
							<a class="AJGL" >案件管理</a>
						</li>
						<li>
							<a class="KZFW" target="_blank" href="KZFW.html">扩展服务</a>
						</li>
						<li>
							<a href="home.html#news">新闻公告</a>
						</li>
						<li>
							<a class="FLZX" target="_blank" href="#">法律咨询</a>
						</li>

						<li>
							<a href="Abou.html" target="_blank">关于我们</a>
						</li>

					</ul>

				</div>
			</div>

			<article>
				<table class="detailCopy" width="100%" style="background-color:#FFFFFF;">
					<tr>
						<td>
							<table width='100%' >
								<caption  class="text-center text-warning" style="font-size: 22px; line-height: 34px; border-bottom: 1px solid #BABABA;padding:20px;"><b>财产案件计算诉讼费（单位元，保留两位小数）</b></caption>
								<!---->
								<tr>
									<td>
										<section width="100%" >
											<form class="countBox" name="formsuan">
												<div class="">
													<span class="">诉讼标的：
														<input type="text" class="form-control" name="textfieldshurushou" />&nbsp;
														<input type="button" class="btn btn-info btn-sm" name="buttonshou" value="计算" onclick="shou()" /><!--&nbsp;&rArr;
														计算结果&nbsp;-->
														<input type="text" class="form-control" name="textfieldsuanshou" />&nbsp;
													  
													</span>
												</div>
												<div class="">
													<span>保全费标的：
														<input class="form-control" type="text" name="textfieldshurubao" />&nbsp;
														<input type="button" class="btn btn-info btn-sm" name="buttonshou" value="计算" onclick="bao()" /><!--&nbsp;&rArr;
														计算结果&nbsp;-->
														<input class="form-control" type="text" name="textfieldsuanbao" />&nbsp;
															
													</span>
												</div>
												<div class="">
													<span>执行费标的：
														<input class="form-control" type="text" name="textfieldshuruzhi" />&nbsp;
														<input class="btn btn-info btn-sm" type="button" name="buttonshou" value="计算" onclick="zhi()" /><!--&nbsp;&rArr;
														计算结果&nbsp;-->
														<input class="form-control" type="text" name="textfieldsuanzhi" />&nbsp;
													
													</span>
												</div>
												<div class="">
													<span>离婚标的：
														<input class="form-control"  type="text" name="textfieldshurulihun" />&nbsp;
														<input class="btn btn-info btn-sm" type="button" name="buttonshou" value="计算" onclick="lihun()" /><!--&nbsp;&rArr;
														计算结果&nbsp;-->
													  <input class="form-control" type="text" name="textfieldsuanlihun" />&nbsp;
													
													</span>
												</div>
												<div class="">
													<span>人格权纠纷标的：
														<input class="form-control" type="text" name="textfieldshururenge" />&nbsp;
														<input class="btn btn-info btn-sm"  type="button" name="buttonshou" value="计算" onclick="renge()"/>
														<input class="form-control" type="text" name="textfieldsuanrenge" />&nbsp;
													</span>
												</div>
										      
											</form>
													<div class="">
													<div class="text-center text-warning" style="font-size: 22px; line-height: 34px;"><b>非财产案件诉讼费用</b></div>
												</div>
												<div>
													<span>
														<table class="table table-success">
															<tr class="success">
																<td>一、非财产案件按照下列标准交纳：</td>
															</tr>
															<tr>
																<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.离婚案件每件交纳50元至300元。</td>
															</tr>
															<tr>
																<td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.侵害姓名权、名称权、肖像权、名誉权、荣誉权以及其他人格权的案件，每件交纳100元至500元。</td>
															</tr>
															<tr>
																<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.其他非财产案件每件交纳50元至100元。</td>
															</tr>
															<tr class="success">
																<td>二、知识产权民事案件，没有争议金额或者价额的，每件交纳500元至1000元；有争议金额或者价<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;额的，按照财产案件的标准交纳。</td>
															</tr>
															<tr class="success">
																<td>三、劳动争议案件每件交纳10元。</td>
															</tr>
															<tr class="success">
																<td>四、行政案件按照下列标准交纳：</td>
															</tr>
															<tr>
																<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.商标、专利、海事行政案件每件交纳100元；</td>
															</tr>
															<tr>
																<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.其他行政案件每件交纳50元。</td>
															</tr>
															<tr class="success">
																<td>五、当事人提出案件管辖权异议，异议不成立的，每件交纳50元至100元。</td>
															</tr>
															<tr>
																<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
															</tr>
														</table>
														</span>
												</div>
												<div>
													<div class="text-center text-warning" style="font-size: 22px; line-height: 34px;"><b>申请费用</b></div>
												</div>
												<div>
													<span>
														<table class="table table-hover">
															<tr class="success">
																<td style="line-height:16px">一、申请执行人民法院发生法律效力的判决、裁定、调解书，仲裁机构依法作出的裁决和调解书，公证机关依法赋予强制执行效力的<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;债权文书，申请承认和执行外国法院判决、裁定以及国外仲裁机构裁决，没有执行金额或者价额的，每件交纳50元至500元。
																</td>
															</tr>
															<tr class="success">
																<td>二、依法申请支付令的，比照财产案件受理费标准的1/3交纳。</td>
															</tr>
															<tr class="success">
																<td>三、依法申请公示催告的，每件交纳100元。</td>
															</tr>
															<tr class="success" >
																<td>四、申请撤销仲裁裁决或者认定仲裁协议效力的，每件交纳400元。</td>
															</tr>
															<tr class="success">
																<td>五、破产案件依据破产财产总额计算，按照财产案件受理费标准减半交纳，但是，最高不超过30万元。</td>
															</tr>
															<tr class="success">
																<td>六、海事案件的申请费按照下列标准交纳：</td>
															</tr>
															<tr>
																<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.申请设立海事赔偿责任限制基金的，每件交纳1000元至1万元；</td>
															</tr>
															<tr>
																<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.申请海事强制令的，每件交纳1000元至5000元；</td>
															</tr>
															<tr>
																<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.申请船舶优先权催告的，每件交纳1000元至5000元；</td>
															</tr>
															<tr>
																<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.申请海事债权登记的，每件交纳1000元；</td>
															</tr>
															<tr>
																<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.申请共同海损理算的，每件交纳1000元。</td>
															</tr>
														</table>
													</span>
												</div>
										</section>
									</td>
								</tr>
							</table>

							</span>
					</tr>
				</table>
                
			</article>

		
		</div>
		<iframe class="footer_iframe" src="footer.html" frameborder="0" scrolling="no" width="100%" height="300"></iframe>

	</body>

	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/getSession.js" ></script>
	<script type="text/javascript" src="js/index.js"></script>

	<script>
		//$(":file").filestyle();
		$('.modal').modal({ backdrop: 'static', show: false });
	</script>

</html>