<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="Keywords" Content="律所在线,律师事务所">
	    <meta name="description" content="律所在线交流平台" />
	    <link rel="shortcut icon" href="img/home/logo-s.png">
		<title>律所在线网首页</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
		<link rel="stylesheet" href="css/bootstrap.css" media="screen" />
		<link rel="stylesheet" href="css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/md5.js"></script>
		<script src="js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="js/layer.js" ></script>


		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if IE]>
      <script>
      
     
      </script>
        
    <![endif]-->
		<!--[if lt IE 9]>
        <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
        <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		<!--[if IE 8]>
     
         	<link rel="stylesheet" href="css/ie8.css" />
    <![endif]-->
 
	</head>

	<body>
		
		
		<span class="storeBox clearfix" style="display: inline-block;font-size:12px;line-height:14px; width:100%;padding:0 8em;text-align:end;color: #BABABA;">
					<a href="javascript:void(0)" onclick="SetHome(this,window.location.href);">设为首页</a>
					&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
					<a href="javascript:void(0)" onclick="AddFavorite('我的网站',location.href)">收藏本站</a></span>
		 
		<div class="logo">
			<div>
				<span class="icon text-info" style="font:bold 30px '宋体';"><img src="img/home/logo.png" alt=""/></span>
               
				<span class="login pull-right">
							<a class="btn  btn-success btn-lg"  data-toggle="modal"   data-target="#myLogin" style="font-size: 1.1em;">登录</a>
							<a>&nbsp;</a>
							<a class="btn  btn-info btn-lg"  data-toggle="modal" data-target="#myRegs" style="font-size:1.1em;">注册</a>
				</span>
				<span class="login1 pull-right">
							<a class="btn  btn-success btn"  data-toggle="modal"   data-target="#myLogin" style="font-size: 1.1em;">登录</a>
							<a>&nbsp;</a>
							<a class="btn  btn-info btn"  data-toggle="modal" data-target="#myRegs" style="font-size:1.1em;">注册</a>
				</span>
				<span class="pull-right Ylogin hide">
				           <a id="YloginBtn" class="btn  btn-primary"  style="height:40px;font-size:1.2em;font-weight: bold;">
								   <span class="fa fa-user-circle-o"></span>
				                   <b>User</b>已登录
				          </a>
				<a id="clearUser" class="btn  btn-primary" style="height:40px;font-size:1.2em;font-weight: bold;">
					<b>注销</b>
				</a>

				</span>

         <div class="btn btn-info menuBtn pull-right" id="menuBtn">
					<div></div>
					<div></div>
					<div></div>
		</div>
			</div>
			<!--作者：fql
	                       时间：2017-03-07
	                      描述：登录弹窗-->

			<div class="modal fade" id="myLogin">
				<div class="modal-dialog modal-sm">
					<div class="modal-content" id="app">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
		 					<span>&times;</span>
		 				</button>
							<h4 class="modal-title" id="myModalLabel">登录界面</h4>
						</div>
						<form @submit.prevent="submit">
							<div class="modal-body">
                                  
								<div class="form-group">
									<label class="control-label">账号：</label>
									<input type="text" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('手机号格式输入不正确')" pattern="^1[3-9]\d{9}$|^[A-Za-z]\w{1,}$"   placeholder="用户名/手机号/邮箱" class="form-control" id="LoginName" v-model="user.username" required/>
								</div>
								<div class="form-group">
									<label class="control-label">密码：</label>
									<input type="password" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('密码以字母开头最少为8位')" pattern="^[A-Za-z]\w{6,}$" class="form-control" id="userPwd" v-model="user.password" required/>
								</div>

							</div>
							<div class="modal-footer">
								<input id="LoginBtn" type="submit" class="btn btn-info" value="登录">
								<div class="btn-group">
									<button class="btn btn-default">
										<span class="fa fa-wechat info" style="color:#449D44;"></span>微信登录
									</button>
								</div>

								<a style="font-size:12px;" href="forgotPwd.html">忘记密码？</a>
							</div>
						</form>
					</div>
				</div>
			</div>

			<!--
            	作者：fql
            	时间：2017-03-07
            	描述：注册弹窗
            	  -->
			<div class="modal fade" id="myRegs">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
		 					<span>&times;</span>
		 				</button>
							<h4 class="modal-title" id="myModalLabel">注册界面</h4>
						</div>
						<form >
							<div class="modal-body">
								<div class="form-group">
									<label for="j_phone" class="control-label">手机号：</label>
									<input type="text" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('手机号格式输入不正确')" pattern="^1[3-9]\d{9}$" class="form-control phone" id="j_phone" required/>
								</div>
								<div class="form-group">
									<label for="userPhone" class="control-label">验证码：</label>
									<div class="input-group">
										<input type="text" class="form-control" placeholder="" required />
										<span class="input-group-addon getYzCode" id="j_getVerifyCode" style="cursor: pointer;">获取验证码</span>
									</div>
								</div>
								<div class="form-group">
									<label for="userPWD" class="control-label">密码：</label>
									<input type="password" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('密码格式不正确字符开头至少8位的组合')" pattern="^[A-Za-z]\w{8,}$" class="form-control" id="userPWD" required/>
								</div>
								<div class="form-group">
									<label for="userPWD2" class="control-label">确认密码：</label>
									<input type="password" oninput="this.setCustomValidity('')"    pattern="^[A-Za-z]\w{8,}$" pattern="^[A-Za-z]\w{8,}$" class="form-control" id="userPWD2" required/>
								</div>

								<div class="form-group">
									<label class="control-label">你的身份：</label>
									<select class="custom-select-sm form-control">
										<option>主任律师</option>
										<option>正式律师</option>
										<option>实习律师</option>
										<option>律所内勤</option>
										<option>法律工作者</option>
										<option>当事人</option>
									</select>
								</div>
								<div class="form-check" style="border:none">
									<input type="checkbox"  />
									<label class="control-label">已阅读并同意<a href="#">《协议与帮助》</a></label>

								</div>
							</div>
							<div class="modal-footer">
								<input type="button" id="regBtn"  class="btn btn-info" value="注册">
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
		
		<!-- header -->
		<div class="container">
           
			<div class="header-bottom">
				
				<div class="top-menu">
					<ul class="header_nav">
						<li>
							<a class="home" href="javascript:void(0)">首页</a>
						</li>

						<li>
							<a href="#studyChat" id="studyChat1">法律咨询</a>
						</li>
						<li>
							<a class="AJGL">案件管理</a>
						</li>
						<li>
							<a class="KZFW" href="KZFW.html">扩展服务</a>
						</li>
						<li>
							<a href="#news">新闻公告</a>
						</li>
						<li>
							<a class="FJLS" href="FJLS.html">附近律所</a>
						</li>

						<li>
							<a href="Abou.html" target="_blank">关于我们</a>
						</li>

					</ul>

				</div>

			</div>

			<!--
        	作者：13523450460@sina.cn
        	时间：2017-04-13
        	描述：法律论坛
        -->
			<!--<div  class="cur_news">
        	<div class="fa fa-bell-o" style="color:darkred; text-align: center;line-height:57px;height: 50px;width: 50px;"></div> 
        	   <div class="cur_newsBox">
        	     <ul class="cur_newsBox_ul">
        	     	<li><a>1新闻:这是划伤一个月亮律师类卡拉斯的雷克萨了借壳上市要你说出来我就可以搜索出来哦</a></li>
        	     	<li><a>2新闻:这是最新的新闻，你想知道什么，为寂寞的夜空划伤一个月亮律师类卡拉斯的雷克萨了借壳上市要你说出来我就可以搜索出来哦</a></li>
        	     	<li><a>3新闻:这是最新的新闻，你想知道什么，为寂寞的夜空划伤一个月亮律师类卡拉斯的雷克萨了借壳上市要你说出来我就可以搜索出来哦</a></li>
        	     </ul>  
        	     
        	    </div>
		 </div>-->

			<article class="studyChat">

				<a name="studyChat" id="studyChat"></a>
				<div class="list-group-item-info" style="font-size:16px;padding-left:15px;height:40px;line-height:40px;border-bottom:1px solid #BABABA;border-top:1px solid #BABABA;"><b>法律咨询</b></div>
				<ul class="chatUl">
					<li onclick="window.open('law_service_01.html')">
						<dl class="btn">
							<dd><i style="color: #6276C9;" class="fa fa-user-secret fa-4x"></i></dd>
							<dt>刑事诉讼</dt>
						</dl>
					</li>
					<li>
						<dl class="btn">
							<dd><i style="color: #C78454;"  class="fa fa-user-circle fa-4x"></i></dd>
							<dt>婚姻家庭</dt>
						</dl>
					</li>
					<li>
						<dl class="btn">
							<dd><i style="color:#529CDB;" class="fa fa-group fa-4x"></i></dd>
							<dt>劳动纠纷</dt>
						</dl>
					</li>
					<li>
						<dl class="btn">
							<dd><i style="color:#45BA85;" class="fa fa-ambulance fa-4x"></i></dd>
							<dt>交通事故</dt>
						</dl>
					</li>
					<li>
						<dl class="btn">
							<dd><i style="color:#C2A149;" class="fa fa-wheelchair-alt fa-4x"></i></dd>
							<dt>损害赔偿</dt>
						</dl>
					</li>
					<li>
						<dl class="btn">
							<dd><i style="color:#C17762;" class="fa fa-bank fa-4x"></i></dd>
							<dt>房产纠纷</dt>
						</dl>
					</li>
					<li>
						<dl class="btn">
							<dd><i style="color:#4C80CD;" class="fa fa-medkit fa-4x"></i></dd>
							<dt>医疗事故</dt>
						</dl>
					</li>
					<li>
						<dl class="btn">
							<dd><i style="color:#6BC2BB;" class="fa fa-cubes fa-4x"></i></dd>
							<dt>工程纠纷</dt>
						</dl>
					</li>
					<li>
						<dl class="btn">
							<dd><i style="color:#6E79CF;" class="fa fa-briefcase fa-4x"></i></dd>
							<dt>公司法律</dt>
						</dl>
					</li>
					<li>
						<dl class="btn">
							<dd><i style="color:#D29E6F;" class="fa fa-clipboard fa-4x"></i></dd>
							<dt>合同纠纷</dt>
						</dl>
					</li>
					<li>
						<dl class="btn">
							<dd><i style="color:#CC8292;" class="fa fa-archive fa-4x"></i></dd>
							<dt>债权债务</dt>
						</dl>
					</li>
					<li>
						<dl class="btn">
							<dd><i style="color:#82BCD1;" class="fa fa-th-large fa-4x"></i></dd>
							<dt>其他</dt>
						</dl>
					</li>

				</ul>

			</article>
            <div id="showBox_tit" class="list-group-item-info" style="font-size:16px;padding-left:15px;height:40px;line-height:40px;border-bottom:1px solid #BABABA;border-top:1px solid #BABABA;"><b>附近律所</b></div>
			<article id="showBox" >
				 <iframe  id="test"  src=""  style="width:100%;" onload="this.height=100"  frameborder="0" scrolling="no"></iframe>
			</article>

			<!--
	作者：fql
	时间：2017-03-07
	描述：新闻公告
-->
			<article class="new_banner">
				<a name="news"></a>
				<div class="list-group-item-info" style="font-size:16px;padding-left:15px;height:40px;line-height:40px;border-bottom:1px solid #BABABA;border-top:1px solid #BABABA;"><b>新闻公告</b></div>
				<br />
				<!---->
				<div class="list-group-item text-info" style="font:normal 15px '微软雅黑';background-color:rgb(217,237,242);"><b>司法新闻</b></div>
				<div class="media News_cont">
					<a class=" News_left" href="#">
						<img class="media-object" src="img/News_01.jpg" alt="图像加载失败" title="新闻图片">
					</a>
					<div class="media-body News_right">
						<h4 class="media-heading"><a href="#"></a></h4>
						<div>
							<a title="国务院关于印发“十三五”国家老龄事业发展和养老体系建设规划的通知" href="#">国务院关于印发“十三五”国家老龄事业发展和养老体系建设规划的通知</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>
						<div>
							<a title="河北肥乡区教育系统乱象频出 待整治,河北肥乡区教育系统乱象频出 待整治" href="#">河北肥乡区教育系统乱象频出 待整治,河北肥乡区教育系统乱象频出 待整治</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>
						<div>
							<a title="着力补短板　迎接大众旅游新时代——解读《“十三五”全国旅游公共服务规划》" href="#">着力补短板　迎接大众旅游新时代——解读《“十三五”全国旅游公共服务规划》</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>
						<div>
							<a title="以信息化建设助力旅游发展——解读《“十三五”全国旅游信息化规划》" href="#">以信息化建设助力旅游发展——解读《“十三五”全国旅游信息化规划》</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>

					</div>
				</div>
				<hr />
				<div class="list-group-item text-info" style="font:bold 15px '微软雅黑';background-color:rgb(217,237,242);">司法解释</div>
				<div class="media News_cont">
					<a class=" News_left" href="#">
						<img class="media-object" src="img/News_01.jpg" alt="图像加载失败" title="新闻图片">
					</a>
					<div class="media-body News_right">
						<h4 class="media-heading"><a href="#"></a></h4>
						<div>
							<a title="国务院关于印发“十三五”国家老龄事业发展和养老体系建设规划的通知" href="#">国务院关于印发“十三五”国家老龄事业发展和养老体系建设规划的通知</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>
						<div>
							<a title="河北肥乡区教育系统乱象频出 待整治,河北肥乡区教育系统乱象频出 待整治" href="#">河北肥乡区教育系统乱象频出 待整治,河北肥乡区教育系统乱象频出 待整治</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>
						<div>
							<a title="着力补短板　迎接大众旅游新时代——解读《“十三五”全国旅游公共服务规划》" href="#">着力补短板　迎接大众旅游新时代——解读《“十三五”全国旅游公共服务规划》</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>
						<div>
							<a title="以信息化建设助力旅游发展——解读《“十三五”全国旅游信息化规划》" href="#">以信息化建设助力旅游发展——解读《“十三五”全国旅游信息化规划》</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>

					</div>
				</div>
				<hr />

				<div class="list-group-item text-info" style="font:bold 15px '微软雅黑';background-color:rgb(217,237,242);">政策宣传</div>
				<div class="media News_cont">
					<a class=" News_left" href="#">
						<img class="media-object" src="img/News_01.jpg" alt="图像加载失败" title="新闻图片">
					</a>
					<div class="media-body News_right">
						<h4 class="media-heading"><a href="#"></a></h4>
						<div>
							<a title="国务院关于印发“十三五”国家老龄事业发展和养老体系建设规划的通知" href="#">国务院关于印发“十三五”国家老龄事业发展和养老体系建设规划的通知</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>
						<div>
							<a title="河北肥乡区教育系统乱象频出 待整治,河北肥乡区教育系统乱象频出 待整治" href="#">河北肥乡区教育系统乱象频出 待整治,河北肥乡区教育系统乱象频出 待整治</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>
						<div>
							<a title="着力补短板　迎接大众旅游新时代——解读《“十三五”全国旅游公共服务规划》" href="#">着力补短板　迎接大众旅游新时代——解读《“十三五”全国旅游公共服务规划》</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>
						<div>
							<a title="以信息化建设助力旅游发展——解读《“十三五”全国旅游信息化规划》" href="#">以信息化建设助力旅游发展——解读《“十三五”全国旅游信息化规划》</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>

					</div>
				</div>

				<hr />
				<div class="media News_cont">
					<a class=" News_left" href="#">
						<img class="media-object" src="img/News_02.jpg" title="新闻图片" alt="媒体对象">
					</a>
					<div class="media-body News_right">
						<h4 class="media-heading"><a href="#"></a></h4>
						<div>
							<a title="国务院关于印发“十三五”国家老龄事业发展和养老体系建设规划的通知" href="#">国务院关于印发“十三五”国家老龄事业发展和养老体系建设规划的通知</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>
						<div>
							<a title="河北肥乡区教育系统乱象频出 待整治,河北肥乡区教育系统乱象频出 待整治" href="#">河北肥乡区教育系统乱象频出 待整治,河北肥乡区教育系统乱象频出 待整治</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>
						<div>
							<a title="着力补短板　迎接大众旅游新时代——解读《“十三五”全国旅游公共服务规划》" href="#">着力补短板　迎接大众旅游新时代——解读《“十三五”全国旅游公共服务规划》</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>
						<div>
							<a title="以信息化建设助力旅游发展——解读《“十三五”全国旅游信息化规划》" href="#">以信息化建设助力旅游发展——解读《“十三五”全国旅游信息化规划》</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>

					</div>
				</div>

				<hr />

				<br />
				<div class="list-group-item text-info" style="font:bold 15px '微软雅黑';background-color:rgb(217,237,242);">政策宣传</div>
				<div class="media News_cont">
					<a class=" News_left" href="#">
						<img class="media-object" src="img/News_02.jpg" title="新闻图片" alt="">
					</a>
					<div class="media-body News_right">
						<h4 class="media-heading"><a href="#"></a></h4>
						<div>
							<a title="国务院关于印发“十三五”国家老龄事业发展和养老体系建设规划的通知" href="#">国务院关于印发“十三五”国家老龄事业发展和养老体系建设规划的通知</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>
						<div>
							<a title="河北肥乡区教育系统乱象频出 待整治,河北肥乡区教育系统乱象频出 待整治" href="#">河北肥乡区教育系统乱象频出 待整治,河北肥乡区教育系统乱象频出 待整治</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>
						<div>
							<a title="着力补短板　迎接大众旅游新时代——解读《“十三五”全国旅游公共服务规划》" href="#">着力补短板　迎接大众旅游新时代——解读《“十三五”全国旅游公共服务规划》</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>
						<div>
							<a title="以信息化建设助力旅游发展——解读《“十三五”全国旅游信息化规划》" href="#">以信息化建设助力旅游发展——解读《“十三五”全国旅游信息化规划》</a>
							<span class="getTime pull-right">2016/3/2</span>
						</div>

					</div>
				</div>

				</ul>
			</article>
			<!--
          	作者：fql
          	时间：2017-03-08
          	描述：学术论坛s
          -->
			<hr />

			<div>
				<div id="leftsead">

					<span class="header_download">
		                 	 <span class="header_download">
								<div>
									<div class=""><i class="fa fa-weixin fa-2x"></i><a>微信公众号</a></div>
					                <div class="clearfix"><img src="img/home/Wechat_News.jpg"></a>
								</div>
								<div>
									<div class=""><i class="fa fa-android fa-2x"></i><a>安卓版</a></div>
					                <div class="clearfix"><img src="img/home/Wechat_News.jpg"></div>
								</div>
								
								<div>
									<div><i class="fa fa-apple fa-2x"></i><a>IOS版</a></div>
					                <div class="clearfix"><img src="img/home/Wechat_News.jpg"></div>
								</div>
					            
					           
					          
				           
	
                     </div>
                     
                     
          </div>
		 </div>
		<div id="leftsead1">

		       <ul>
		            <li class="btn btn-primary btn-block">
						<span><i style="" class="fa fa-file-o fa-2x"></i><a target="_blank"  href="Laws.html">法律法规</a></span>
					</li>
					<li class="btn btn-primary btn-block">
						<span><i style="" class="fa fa-copy fa-2x"></i><a>典型判例</a></span>
					</li>

					<li class="btn btn-primary btn-block">
						<span><i style="" class="fa fa-file-text-o fa-2x"></i><a>法律文书</a></span>
					</li>
					<li class="btn btn-primary btn-block">
						<span><i style="" class="fa fa-map-o fa-2x"></i><a>合同范本</a></span>
					</li>
					<li class="btn btn-primary btn-block">
						<span><i style="" class="fa fa-folder-open-o fa-2x"></i><a>我的文档</a></span>
					</li>

					<li class="btn btn-primary btn-block" onclick="alert('请先登录');window.location.href='http://ha.lawyeredu.com/common/index.pl'">
						<span><i style="" class="fa fa-laptop fa-2x"></i><a>律师培训</a></span>
					</li>
					<li class="btn btn-primary btn-block" onclick="window.location.href='count.html'" >
						<span><i style=""  class="fa fa-balance-scale fa-2x"></i><a>计算工具</a></span>
					</li>
		       </ul>
	
         </div>
		<iframe class="footer_iframe" src="footer.html" frameborder="0" scrolling="no" width="100%" height="300"></iframe>
	</body>

	<script type="text/javascript" src="js/jquery-3.1.1.min.js" ></script>
	<script type="text/javascript" src="js/layer.js" ></script>
	<script src="js/bootstrap.js"></script>
	
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/getSession.js" ></script>
	<script>
	//	$(":file").filestyle();
		$('.modal').modal({
			backdrop: 'static',
			show: false
		});

	</script>

</html>