<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="css/bootstrap.css" media="screen" />
		<link rel="shortcut icon" href="img/home/logo-s.png">
		<link rel="stylesheet" href="css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" type="text/css" href="css/office_nearby.css">
		<script type="text/javascript" src="js/md5.js"></script>
		<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src='js/getSession.js'></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/layer.js"></script>
		<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
		<!-- 搜狐获取ip -->
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
   <![endif]-->
		<style type="text/css">
			#allmap {
				width: 99.9%;
				border: 2px solid #BABABA;
				height: 260px;
				overflow: hidden;
				margin: 0;
				font-family: "微软雅黑";
			}
		</style>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=l0Kego2yXhd7tdv45RUT0vsQExnF1VZ2"></script>
		<title>附近律所</title>
	</head>

	<body>
		<span class="storeBox clearfix" style="display: inline-block;font-size:12px;line-height:14px; width:100%;padding:0 8em;text-align:end;color: #BABABA;">
					<a href="javascript:void(0)" onclick="SetHome(this,window.location.href);">设为首页</a>
					&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
					<a href="javascript:void(0)" onclick="AddFavorite('我的网站',location.href)">收藏本站</a></span>
		<div class="logo">
			<div>
				<span class="icon text-info" style="font:bold 30px '宋体';"><img src="img/home/logo.png" alt=""/></span>
				<span class="login pull-right">
							<a class="btn  btn-success btn-lg"  data-toggle="modal"   data-target="#myLogin" style="font-size: 1.1em;">登录</a>
							<a>&nbsp;</a>
							<a class="btn  btn-info btn-lg"  data-toggle="modal" data-target="#myRegs" style="font-size: 1.1em;">注册</a>
			   </span>
				<span class="login1 pull-right">
							<a class="btn  btn-success btn"  data-toggle="modal"   data-target="#myLogin" style="font-size: 1.1em;">登录</a>
							<a>&nbsp;</a>
							<a class="btn  btn-info btn"  data-toggle="modal" data-target="#myRegs" style="font-size:1.1em;">注册</a>
				</span>

				<span class="pull-right Ylogin hide">
				           <a id="YloginBtn" class="btn  btn-primary"  style=" height:40px;text-shadow:black 5px 3px 3px;font-size:1.2em;font-weight: bold;">
								   <span class="fa fa-user-o"></span>
				<b>User</b>已登录
				</a>
				<a id="clearUser" class="btn  btn-primary" style="height:40px;text-shadow:black 5px 3px 3px;font-size:1.2em;font-weight: bold;">
					<b>注销</b>
				</a>
				</span>

			</div>
			<!--
	作者：fql
	时间：2017-03-07
	描述：登录弹窗
-->
			<div class="modal fade" id="myLogin">
				<div class="modal-dialog modal-sm">
					<div class="modal-content" id="app">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
		 					<span>&times;</span>
		 				</button>
							<h4 class="modal-title" id="myModalLabel">登录界面</h4>
						</div>
						<form @submit.prevent="submit">
							<div class="modal-body">

								<div class="form-group">
									<label class="control-label">账号：</label>
									<input type="text" pattern="^1[3-9]\d{9}$|^[A-Za-z]\w{1,}$" placeholder="手机号" class="form-control" id="LoginName" v-model="user.username" required/>
								</div>
								<div class="form-group">
									<label class="control-label">密码：</label>
									<input type="password" pattern="^\w{6,}$" class="form-control" id="userPwd" v-model="user.password" required/>
								</div>

							</div>
							<div class="modal-footer">
								<input id="LoginBtn" type="submit" class="btn btn-info" value="登录">

								<a style="font-size:12px;" href="forgotPwd.html">忘记密码？</a>
							</div>
						</form>
					</div>
				</div>
			</div>

			<!--
            	作者：fql
            	时间：2017-03-07
            	描述：注册弹窗
            	  -->
			<div class="modal fade" id="myRegs">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
		 					<span>&times;</span>
		 				</button>
							<h4 class="modal-title" id="myModalLabel">注册界面</h4>
						</div>
						<form>
							<div class="modal-body">

								<div class="form-group">
									<label for="j_phone" class="control-label">手机号：</label>
									<input type="text" class="form-control phone" id="j_phone" required/>
								</div>
								<div class="form-group">
									<label for="userPhone" class="control-label">验证码：</label>
									<div class="input-group">
										<input type="text" class="form-control" placeholder="" />
										<span class="input-group-addon getYzCode" id="j_getVerifyCode" style="cursor: pointer;">获取验证码</span>
									</div>
								</div>
								<div class="form-group">
									<label for="userPWD" class="control-label">请输入您的密码：</label>
									<input type="password" class="form-control" id="userPWD" required/>
								</div>
								<div class="form-group">
									<label for="userPWD" class="control-label">请再次输入你的密码：</label>
									<input type="password" class="form-control" id="userPWD2" required/>
								</div>

								<div class="form-group">
									<label class="control-label">你的身份：</label>
									<select class="custom-select-sm form-control">
										<option>主任律师</option>
										<option>正式律师</option>
										<option>实习律师</option>
										<option>律所内勤</option>
										<option>法律工作者</option>
										<option>当事人</option>
									</select>
								</div>
								<div class="form-inline">
									<input type="checkbox" class="form-control" />
									<label class="control-label">已阅读并同意<a href="secret_law.html">《协议与帮助》</a></label>

								</div>
							</div>
							<div class="modal-footer">
								<input type="submit" style="font-size: 14px;font-weight: normal;color: #FFFFFF;" class="btn  btn-info " data-dismiss="modal" value="注册">
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
		<div class="header-bottom">
			<div class="btn btn-info menuBtn pull-right" id="menuBtn">
				<div></div>
				<div></div>
				<div></div>
			</div>

		</div>
		<!-- header -->
		<!-- 主体部分 -->
		<div class="container">
			<div class="header-bottom">
				<div class="btn btn-info menuBtn pull-right" id="menuBtn">
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div class="top-menu">
					<ul class="header_nav">
						<li>
							<a class="home" href="home.html">首页</a>
						</li>

						<li>
							<a href="home.html#studyChat" id="studyChat1">法律咨询</a>
						</li>

						<li>
							<a class="AJGL">案件管理</a>
						</li>
						<li>
							<a class="KZFW" href="KZFW.html">扩展服务</a>
						</li>
						<li>
							<a href="home.html#news">新闻公告</a>
						</li>
						<li>
							<a class="FJLS" href="javascript:void(0)">附近律所</a>
						</li>
						<li>
							<a href="Abou.html" target="_blank">关于我们</a>
						</li>

					</ul>

				</div>
			</div>
			<div class="info">
				<div>
					<div class="form-inline search_place" id='search_place'>
						<label class="_search_title">手动查询：</label>
						<select class="custom-select form-control" id="s_province" name="s_province"></select>
						<select class="custom-select form-control" id="s_city" name="s_city"></select>
						<select class="custom-select form-control" id="s_county" name="s_county"></select>
						<button class="btn btn-primary UrPlaceBtn">确认</button>
					</div>

					<script class="resources library" type="text/javascript" src="js/area.js"></script>
					<script type="text/javascript">
						_init_area();
					</script>
					<div class="" id="show"></div>
				</div>
				<div id="show"></div>
			</div>

			<div id="allmap" class=""></div>
			<div class="pageBox">
				<ul class="pageDiv clearfix">

				</ul>
				<div class="notContent hide">
					无数据
				</div>
				<div class="page pull-right">
					<ul class="pageMenu  pagination">
						<li class="firstPage">
							<a href="#">首页</a>
						</li>
						<li class="prevPage">
							<a href="#">上一页</a>
						</li>
						<li class="pageObj pagination">
						</li>
						<li class="nextPage">
							<a href="#">下一页 </a>
						</li>
						<li class="lastPage">
							<a href="#">尾页</a>
						</li>

					</ul>
				</div>
			</div>
			<article class="blog_box">
				<ol id="content" style="">
					
				</ol>

				<!--附近律所分页内容-->
				
			</article>
		</div>
		<div id="leftsead">

			<span class="header_download">
		                 	 <span class="header_download">
								<div>
									<div class=""><i class="fa fa-weixin fa-2x"></i><a>微信公众号</a></div>
					                <div class="clearfix"><img src="img/home/Wechat_News.jpg"></a></div>
								</div>
								<div>
									<div class=""><i class="fa fa-android fa-2x"></i><a>安卓版</a></div>
					                <div class="clearfix"><img src="img/home/Android.png"/></div>
								</div>
								
								<div>
									<div><i class="fa fa-apple fa-2x"></i><a>IOS版</a></div>
					                <div class="clearfix"><img src="img/home/ios.png" /></div>
								</div>
					            
					         </span>

			</span>
		</div>
		<div id="leftsead1">

			<ul>
				<li class="btn btn-primary btn-block">
					<span><i style="" class="fa fa-file-o fa-2x"></i><a target="_blank"  href="Laws.html">法律法规</a></span>
				</li>
				<li class="btn btn-primary btn-block">
					<span><i style="" class="fa fa-copy fa-2x"></i><a target="_blank" href="Laws_example.html">典型判例</a></span>
				</li>

				<li class="btn btn-primary btn-block">
					<span><i style="" class="fa fa-file-text-o fa-2x"></i><a  href="Laws_doc.html" target="_blank" >法律文书</a></span>
				</li>
				<li class="btn btn-primary btn-block">
					<span><i style="" class="fa fa-map-o fa-2x"></i><a target="_blank"  href="Laws_pact.html">合同范本</a></span>
				</li>

				<li class="btn btn-primary btn-block" onclick="alert('请先登录');window.location.href='http://ha.lawyeredu.com/common/index.pl'">
					<span><i style="" class="fa fa-laptop fa-2x"></i><a>律师培训</a></span>
				</li>
				<li class="btn btn-primary btn-block" onclick="window.location.href='count.html'">
					<span><i style=""  class="fa fa-balance-scale fa-2x"></i><a>计算工具</a></span>
				</li>
			</ul>

		</div>
		<iframe class="footer_iframe" src="footer.html" frameborder="0" scrolling="no" width="100%" height="300"></iframe>

	</body>
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/page.js"></script>
	<script type="text/javascript" src="js/layer.js"></script>
	<script src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/service_nearby.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript">
	</script>

</html>