<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>刑事诉讼</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="../css/bootstrap.css" media="screen" />
		<link rel="shortcut icon" href="../img/home/logo-s.png">
		<link rel="stylesheet" href="../css/font-awesome.min.css" />
		<link rel="stylesheet" href="../css/index.css" />
		<link rel="stylesheet" href="../css/flzx.css" />
		<script type="text/javascript" src="../js/md5.js"></script>
		<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>

		<script type="text/javascript" src="../js/vue.js"></script>
		<script type="text/javascript" src="../js/layer.js"></script>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
   <![endif]-->
		<style>

		</style>
	</head>

	<body>
		<span class="storeBox clearfix" style="display: inline-block;font-size:12px;line-height:14px; width:100%;padding:0 8em;text-align:end;color: #BABABA;">
					<a href="javascript:void(0)" onclick="SetHome(this,window.location.href);">设为首页</a>
					&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
					<a href="javascript:void(0)" onclick="AddFavorite('我的网站',location.href)">收藏本站</a></span>
		<div class="logo">
			<div>
				<span class="icon text-info" style="font:bold 30px '宋体';"><img src="../img/home/logo.png" alt=""/></span>
				<span class="login pull-right">
							<a class="btn  btn-success btn-lg"  data-toggle="modal"   data-target="#myLogin" style="font-size: 1.1em;">登录</a>
							<a>&nbsp;</a>
							<a class="btn  btn-info btn-lg"  data-toggle="modal" data-target="#myRegs" style="font-size: 1.1em;">注册</a>
			   </span>
				<span class="login1 pull-right">
							<a class="btn  btn-success btn"  data-toggle="modal"   data-target="#myLogin" style="font-size: 1.1em;">登录</a>
							<a>&nbsp;</a>
							<a class="btn  btn-info btn"  data-toggle="modal" data-target="#myRegs" style="font-size:1.1em;">注册</a>
				</span>

				<span class="pull-right Ylogin hide">
				           <a id="YloginBtn" class="btn  btn-primary"  style=" height:40px;text-shadow:black 5px 3px 3px;font-size:1.2em;font-weight: bold;">
								   <span class="fa fa-user-o"></span>
				<b>User</b>已登录
				</a>
				<a id="clearUser" class="btn  btn-primary" style="height:40px;text-shadow:black 5px 3px 3px;font-size:1.2em;font-weight: bold;">
					<b>注销</b>
				</a>
				</span>

			</div>
			<!--
	作者：fql
	时间：2017-03-07
	描述：登录弹窗
-->
			<div class="modal fade" id="myLogin">
				<div class="modal-dialog modal-sm">
					<div class="modal-content" id="app">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
		 					<span>&times;</span>
		 				</button>
							<h4 class="modal-title" id="myModalLabel">登录界面</h4>
						</div>
						<form @submit.prevent="submit">
							<div class="modal-body">

								<div class="form-group">
									<label class="control-label">账号：</label>
									<input type="text" pattern="^1[3-9]\d{9}$|^[A-Za-z]\w{1,}$" placeholder="手机号" class="form-control" id="LoginName" v-model="user.username" required/>
								</div>
								<div class="form-group">
									<label class="control-label">密码：</label>
									<input type="password" pattern="^\w{6,}$" class="form-control" id="userPwd" v-model="user.password" required/>
								</div>

							</div>
							<div class="modal-footer">
								<input id="LoginBtn" type="submit" class="btn btn-info" value="登录">

								<a style="font-size:12px;" href="forgotPwd.html">忘记密码？</a>
							</div>
						</form>
					</div>
				</div>
			</div>

			<!--
            	作者：fql
            	时间：2017-03-07
            	描述：注册弹窗
            	  -->
			<div class="modal fade" id="myRegs">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
		 					<span>&times;</span>
		 				</button>
							<h4 class="modal-title" id="myModalLabel">注册界面</h4>
						</div>
						<form>
							<div class="modal-body">

								<div class="form-group">
									<label for="j_phone" class="control-label">手机号：</label>
									<input type="text" class="form-control phone" id="j_phone" required/>
								</div>
								<div class="form-group">
									<label for="userPhone" class="control-label">验证码：</label>
									<div class="input-group">
										<input type="text" class="form-control" placeholder="" />
										<span class="input-group-addon getYzCode" id="j_getVerifyCode" style="cursor: pointer;">获取验证码</span>
									</div>
								</div>
								<div class="form-group">
									<label for="userPWD" class="control-label">请输入您的密码：</label>
									<input type="password" class="form-control" id="userPWD" required/>
								</div>
								<div class="form-group">
									<label for="userPWD" class="control-label">请再次输入你的密码：</label>
									<input type="password" class="form-control" id="userPWD2" required/>
								</div>

								<div class="form-group">
									<label class="control-label">你的身份：</label>
									<select class="custom-select-sm form-control">
										<option>主任律师</option>
										<option>正式律师</option>
										<option>实习律师</option>
										<option>律所内勤</option>
										<option>法律工作者</option>
										<option>当事人</option>
									</select>
								</div>
								<div class="form-inline">
									<input type="checkbox" class="form-control" />
									<label class="control-label">已阅读并同意<a href="#">《协议与帮助》</a></label>

								</div>
							</div>
							<div class="modal-footer">
								<input type="submit" style="font-size: 14px;font-weight: normal;color: #FFFFFF;" class="btn  btn-info " data-dismiss="modal" value="注册">
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
		<div class="header-bottom">
			<div class="btn btn-info menuBtn pull-right" id="menuBtn">
				<div></div>
				<div></div>
				<div></div>
			</div>

		</div>
		<!-- header -->
		<div class="container">
			<article class="TopBg">
				<div class="bbs_type_tit">刑事诉讼</div>
				<p class="TopBg_text">
					是审判机关（人民法院）、检查机关（人民检察院）和侦查机关（公安机关含国家安全机关）在当事人以及诉讼参与人的参加下，依照法定程序解决被追诉讼者刑事责任问题的诉讼活动。
				</p>
			</article>
            <ul class="pagination bbs_type">
					
			</ul>         
			<article class="blog_box" >
				   
				<ol id="content" style="" >
					 <li class="blog">
						<section class="userMsg">
							<div class="user_header_img"><img src="../img/professor/pro01.png" /></div>
							<div class="user_name">执2法</div>
						</section>
						<section class="userMsg2">
						   <div class="blog_title">我见过你最深情的眼眸和最柔软的笑意 我见过你最深情的眼眸和最柔软的笑意， 在炎凉的事态中灯火一样给予我苟且的能录，我们要坚持立党为公，执政为民，忠诚团结，求实开拓，为人民服务使他们的宗旨 ，让他们的生命更有意义以及使他们的灵魂更加纯洁 我见过你最深情的眼眸和最柔软的笑意， 
							</div>
						    
						</section>
						<section class="userMsg3">
							<div class="blog_img"><img src="../img/member5.jpg" /></div>
							<div class="blog_create_time text-muted">2017-03-30</div>
							<div class="like_num fa fa-thumbs-o-up">2</div>
							<div class="comment_num fa fa-commenting-o">2</div>
						</section>

					</li>
                    
				</ol>

				<ul class="pagination pull-right">
					<li >
						<a href="#">&laquo;</a>
					</li>
					<li class="">
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">&raquo;</a>
					</li>
				</ul>
			</article>

		</div>

		<iframe class="footer_iframe" src="../footer.html" frameborder="0" scrolling="no" width="100%" height="300"></iframe>

		</div>
	</body>

	<script type="text/javascript" src="../js/bootstrap.js"></script>
	<script type="text/javascript" src='../js/bbs.js'></script>
	<script type="text/javascript" src="../js/index.js"></script>

	<script>
		//$(":file").filestyle();
	</script>
	<!-- <script type="text/javascript" src="js/page.js" ></script>-->

</html>