.header {
	margin-top: 15px;
	display: flex;
}

.logo {
    margin-right:300px;
	margin-left: 17%;
}

.logo a {
	display: block;
	width: 100%;
	height: 100%;
}

.logo a img {
	height: 65px;
	display: inline-block;
}


/*index*/

.banner-index {
	width: 100%;
	height: 80vh;
	background: url("../img/home/fir_bg.png") no-repeat center center;
	background-size: 103%;
}

.color-box {
	width: 25%;
	margin-right: 5%;
}

.rukou>div:nth-child(1) {
	margin-left: 6%;
}

.rukou {
	margin: 20px auto;
	display: flex;
}

.rukou>div a i {
	width: 27%;
	display: inline-block;
}

.rukou>div a i:nth-child(2) {
	vertical-align: top;
	margin-top: 12px;
}

.icon_tit {
	color: #FFFFFF;
	font-size: 1em;
	font-weight: bolder;
}



.introdution {
	font-size: 2.5em;
	font-size: 36px\9;
	color: #959596;
	font-weight: normal;
}
.justified-item{
	
	text-align: center;
}
.justified-item li{
	width:90%;
	margin:0 auto;
	 display: flex;
    height:85px;
    margin-bottom: 20px;
}
.justified-item li span{
	
	width:40%;
	margin:0 10%;
	overflow: hidden;
	border-radius:5px;
	
	
}
.bg_tit{
	padding:5px;
	color:#FFFFFF;
	line-height:85px;
}
.bg_tit s{
	letter-spacing:1px;
	font-size:1.7em;
}
.bg_explain{
	padding:10px 10px;
	font-size:15px;
	text-align:center;
	letter-spacing: 1px;
	text-indent: 5px;
	background-color:#E1E1E1;
	color: #666666;
}
.justified-item>div{
	text-align: center;
}





.last-wrapper h5 {
	font-size: 24px;
	color: #078be4;
	font-weight: normal;
	text-align: left;
	margin-bottom: 10px;
}

.last-wrapper p {
	color: #a8a8a8;
	font-size: 14px;
	text-align: left;
	line-height: 1.8;
}

.last-wrapper{
	width:85%;
	margin: 0 auto;

	text-align: center;
}


.footer_item{
	padding-top: 30px;
	margin: 0 auto;
	width:60%;
	display: flex;
}
.footer_item li{
	width:24%;
}
.block2 li{
	width:90%;
	margin:0 auto;
	 display: flex;
    height:85px;
    margin-bottom: 20px;
}
.block2 li span{
	
	width:40%;
	margin:0 10%;
	overflow: hidden;
	border-radius:5px;
	
	
}

@media only screen and (max-width:1200px) {
	.banner-index {
		height: 300px;
	}
	.nav{
		display: none;
	}
	#toptab {
		display: none;
	}
	.rukou>div {
		height: 60px;
		width:100%;
	}
	.rukou>div a i {
		width: 100%;
		display: inline-block;
	}
	.rukou>div a i:nth-child(2) {
		display: none;
	}
	.rukou>div a i:nth-child(1) {
		text-align: center;
		font-size: 2em;
	}
	
.justified-item li{
	width:90%;
	margin:0 auto;
	 display:block;
    height:85px;
    margin-bottom: 20px;
}
	
.footer_item{
	padding-top: 30px;
	margin: 0 auto;
	width:60%;
	display:block;
}	
.footer_item li{
	width:100%;
}
.justified-item li .fa{
	display: none;
}
.justified-item li{
	
	width:100%;
	
	 display:block;
    height:125px;
    margin-bottom: 20px;
}
.justified-item li span{
	width:100%;
	margin:0 10%;
	overflow: hidden;
	border-radius:5px;
	
	
}
.bg_tit i,.bg_tit s{
	display: inline-block;
	width: 100%;
}
.block2{
	
}

.block2 li{
	width:90%;
	margin:0 auto;
	 display: flex;
    height:85px;
    margin-bottom: 20px;
}
.block2 li span{
	
	width:100%;
	margin:0 10%;
	overflow: hidden;
	border-radius:5px;		
}
.block2 li span:nth-child(1){
	display: none;
}
}
@font-face {
	font-family: 'iconfont';
	src: url('font/iconfont.eot');
	/* IE9*/
	src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), url('font/iconfont.woff') format('woff'), url('font/iconfont.ttf') format('truetype'), url('font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.ico-video:before {
	content: "\e6d1";
}

.ico-video {
	font-size: 36px;
	color: #a4aa9b;
}


